body { 
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
button {
  cursor: pointer;
  background-color: rgb(0, 162, 255);
  border: none;
  color: #fff;
  width: 340px;
  height: 25px;
  border-radius: 4px;
  margin-top: 5px;
}

button:hover,
button:active {
  background: rgb(19, 121, 180);
  transition: all 0.2s ease-out;
}

label {
  font-family: "Roboto", serif;
}

.submit-btn-section {
  text-align: center;
}

#span-icon span {
  font-size: 15px;
  color: white;
}

#span-icon {
  margin-top: 15px;
  color: green;
  text-align: center;
}

p {
  font-family: "Roboto", serif;
  color: #fff;
  text-align: center;
}

.input-field {
  width: 300px;
  margin: 3vh auto 0 auto;
  height: 30px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.input-field input {
  border: 2px solid #f0f0f0;
  font-size: 12px;
  padding: 10px;
  display: block;
}

.input-field input:focus {
  outline: 0;
}

#inputedEmail {
  width: 300px;
}

#validation-info {
  font-size: 10px;
  font-family: "Roboto", serif;
}

.validation-info-position {
  text-align: center;
}

#display-email {
  font-family: "Roboto", serif;
}

.mail-icons img {
  width: 20px;
  height: 20px;
  margin: 5px;
  margin-top: 50px;
}

.mail-icons { 
  text-align: center;
}

.fa-copyright {
  font-size: 7px;
  color: #888;
}

.success-info {
  color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  margin: 10vh auto 0 auto;
}

footer p {
  color: #888;
  font-size: 9px;
}

footer i {
  color: #fff;
}
